.button {
    width: 200px;
    height: 50px;
    background-color: var(--button);
    color: var(--white);

    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: var(--button-hover);
}