.navigation-tabs {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

.navigation-tabs div {
    display: flex;
    gap: 50px;
}

.navigation-link {
    font-size: 18px;
    color: var(--gray);
}

.navigation-link-active {
    font-size: 18px;
    color: var(--black);
    border-bottom: solid 1px var(--black);
}

.navigation-link:hover {
    color: var(--black);
}