.box-appointments,
.search,
.search-button,
.search-results,
.results {
    display: flex;
}

.search,
.search-results {
    width: 50%;
    flex-direction: column;
}

.search {
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}

.search-button {
    justify-content: center;
    margin-top: 10px;
}

.search img {
    width: 430px;
}

.search-results {
    gap: 20px;
    border-left: solid 1px var(--black);
    padding-left: 50px;
    margin-bottom: 50px;
}

.results {
    gap: 50px;
}

.vaccinated,
.not-vaccinated {
    width: 100px;
    font-weight: bold;
}

.vaccinated {
    color: var(--green);
}
.not-vaccinated {
    color: var(--red);
}

@media (max-width: 900px) {
    .box-appointments {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search,
    .search-results {
        width: 90%;
    }

    .search {
        margin-top: 20px;
    }

    .search img {
        width: 80%;
    }
    
    .search-results {
        border-left: none;
        border-top: solid 1px var(--black);
        padding-left: 0;
        margin-top: 20px;
        align-items: center;
        padding-top: 10px;
    }

    .results {
        gap: 15px;
    }

    .results p:nth-child(2){
        width: 180px !important;
    }

    .vaccinated,
    .not-vaccinated {
        width: 60px;
    }
}