.container-buttons {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.content-button {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: solid 2px var(--gray);
  border-radius: 15px;
}

.content-button:hover {
  transform: scale(1.05);
}

.container-buttons img {
  width: 70px;
}